header{
    text-align: center;
}
.color-mhvi-primary{
    color: #1c4073;
}
#wrapper {
    text-align: center;
}
table {
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}
td {
    border-width: 2px;
    border-style: solid;
}
